<!DOCTYPE html>
<html lang="en">

<head>
  {{> partials/head }}

  <link rel="stylesheet" href="/static/css/embed.css" />
</head>

<body>
  <div class="mediaWrapper">
    <div class="media">
    {{#each post.Media}}
    {{#equal this.Type "image"}}
    <img src="{{this.Url}}" loading="lazy">
    {{/equal}}
    {{#equal this.Type "video"}}
    <video controls loop>
      <source type="{{this.MimeType}}" src="{{this.Url}}" />
    </video>
    {{/equal}}
    {{/each}}
    </div>
  </div>
  <div class="postMeta">
    <div class="postDetails">
      {{#if post.TItle}}
      <a href="/{{post.Id}}">
        <h3>{{post.Title}}</h3>
      </a>
      {{/if}}
      <div class="views">
        <img class="icon" src="/static/icons/eye.svg" alt="Views">
        <p>{{post.Views}}</p>
      </div>
    </div>
    <div class="logoContainer">
      <a href="/{{post.Id}}">
        <img src="/static/img/rimgo.svg" width="32px" height="32px" class="logo">
      </a>
      <a href="/{{post.Id}}">
        rimgo
      </a>
    </div>
  </div>
</body>

</html>