a {
  color: #E0E0E0;
  font-weight: 600;
  text-decoration: none;
}

a > h2 {
  color: white;
}

h2, h3, p {
  margin: 0;
}

body {
  background-color: #212121;
  color: white;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; 
}

nav {
  display: flex;
  align-items: center;
}

.logo, .icon {
  filter: invert(1) hue-rotate(180deg);
}

section,
header,
main {
  margin: 0 24vw;
}

.errorTitle {
  text-align: center;
}

.posts {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.post {
  border-radius: 12px;
  background-color: #3b3b3b;
  font-weight: 400;
}

.posts img,
.posts video:not(:fullscreen) {
  object-fit: cover;
  aspect-ratio: 1;
}

.post__title {
  margin: 0 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post__meta {
  padding: 6px;
  display: flex;
  gap: 10px;
}

.pageSelector {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  margin: 2em 0;
}

@media only screen and (max-width: 812px) {
  section, header, main {
    margin: 0 !important;
  }
}